services:
  diun:
    image: crazymax/diun:latest
    container_name: diun
    hostname: diun
    command: serve
    restart: always
    labels:
      - "diun.enable=true"
      - "com.centurylinklabs.watchtower.enable=true"
    environment:
      - TZ=${TZ}
      - LOG_LEVEL=${LOG_LEVEL}
      - LOG_JSON=false
      - DIUN_DB_PATH=/data/diun.db
      
      # --- Registry Settings ---
      - DIUN_REGISTRIES_0_NAME=docker.io
      - DIUN_REGISTRIES_0_REPOIDINCLUDE=*
      - DIUN_REGISTRIES_0_USERNAME=${DOCKER_HUB_USER}
      - DIUN_REGISTRIES_0_PASSWORD=${DOCKER_HUB_TOKEN}
      
      # --- Watcher Settings ---
      - DIUN_WATCH_WORKERS=20
      - DIUN_WATCH_SCHEDULE=${WATCH_SCHEDULE}
      - DIUN_WATCH_JITTER=30s
      - DIUN_PROVIDERS_DOCKER=true
      - DIUN_PROVIDERS_DOCKER_WATCHBYDEFAULT=true

      # --- Notification: n8n ---
      - DIUN_NOTIF_WEBHOOK_ENDPOINT=${N8N_WEBHOOK_URL}
      - DIUN_NOTIF_WEBHOOK_METHOD=GET
      - DIUN_NOTIF_WEBHOOK_HEADERS_CONTENT-TYPE=application/json
      - DIUN_NOTIF_WEBHOOK_TIMEOUT=10s

      # --- Notification: Discord ---
      - DIUN_NOTIF_DISCORD_WEBHOOKURL=${DISCORD_WEBHOOK_URL}
      - DIUN_NOTIF_DISCORD_RENDERFIELDS=true
      - DIUN_NOTIF_DISCORD_TIMEOUT=10s
      - DIUN_NOTIF_DISCORD_TEMPLATEBODY=Docker tag {{ .Entry.Image }} which you subscribed to through {{ .Entry.Provider }} provider has been released.

    volumes:
      - diun_data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - ${YOUR_NETWORK_1}
    healthcheck:
      test: ["CMD-SHELL", "diun --version || exit 1"]
      interval: 60s
      timeout: 10s
      retries: 5

networks:
  ${YOUR_NETWORK_1}:
    external: true

volumes:
  diun_data: