services:
  searxng:
    image: searxng/searxng:latest
    container_name: searxng
    hostname: searxng
    restart: unless-stopped
    networks:
      - ${YOUR_NETWORK_1}
      - ${YOUR_NETWORK_2}
    ports:
      - "${SEARXNG_PORT}:8080"
    volumes:
      - ./settings.yml:/etc/searxng/settings.yml:rw
    environment:
      - SEARXNG_BASE_URL=${SEARXNG_BASE_URL}
      - SEARXNG_VALKEY_URL=${SEARXNG_VALKEY_URL}
      - SEARXNG_SECRET=${SEARXNG_SECRET}
      - TZ=${TZ}
    deploy:
      resources:
        limits:
          memory: 1G
        reservations:
          memory: 64M
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://searxng:8080/healthz || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
    logging:
      driver: "json-file"
      options:
        max-size: "15m"
        max-file: "7"
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

networks:
  ${YOUR_NETWORK_1}:
    external: true
  ${YOUR_NETWORK_2}:
    external: true